<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center jumbo">
</div>

<div class="container position-relative">
    <div class="row vh-100 justify-content-center align-items-start">
        <div class="col col-12 col-sm-12 col-md-6 " style="margin-top: 25vh;">
            <div class="card w-100 bg-secondary bg-opacity-75 border rounded">
                <div class="container">
                    
                    <!-- Titulo and icon -->
                    <div class="row m-2 ms-0">
                        <div class="col col-9">
                            <h4>Modificar Empleado </h4>
                        </div>
                        <div class="col col-3 text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-person-badge m-2 pt-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path
                                    d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
                            </svg>
                        </div>
                    </div>

                    <!-- Formulario -->
                    <div class="row mt-4">
                        <div class="col">
                            <form class="row was-validated needs-validation" [formGroup]="formEmpleado" errorTailor novalidate>
                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Numero de empleado</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input value="{{nEmpleado}}" type="text" class="form-control" id="numeroEmpleado"
                                            placeholder="1591206" disabled>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Nombre</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fNombre" maxlength="35" onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 180 || event.charCode == 32)" type="text" class="form-control" id="nombre" placeholder="Alejandro"
                                            required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Apellido Paterno</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fApellidoP" maxlength="30"  onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 180 || event.charCode == 32)" type="text" class="form-control" id="apellidoP" placeholder="Martínez "
                                            required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Apellido Materno</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fApellidoM" maxlength="30" onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 180 || event.charCode == 32)" type="text" class="form-control" id="apellidoM" placeholder="López "
                                            required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Curp</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fCurp" minlength="18" maxlength="18"  type="text" onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 48 && event.charCode <= 57)"  class="form-control" id="curp"
                                            placeholder="LOMA15000000HTLSLLA3" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Fecha de nacimiento </label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fFnac" type="date" class="form-control" id="fechaNacimiento" apellido>
                                    </div>
                                </div>

                                <div class="row mt-2 mb-2">
                                    <div class="col col-2">
                                        <label for="staticEmail2" class="mt-2">Genero</label>
                                    </div>
                                    <div class="col">
                                        <div class="form-check mt-2">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                <input formControlName="fGenero" class="form-check-input" type="radio"
                                                    name="fGenero" id="F" value="F">
                                                <span>Femenino</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-check mt-2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                <input formControlName="fGenero" class="form-check-input" type="radio"
                                                    name="fGenero" id="M" value="M">
                                                <span>Masculino</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Teléfono</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fTelefono" type="text" class="form-control" id="telefono" placeholder="2411302419"
                                            required minlength="10" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Puesto</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos ">
                                        <select formControlName="fPuesto" class="form-select" aria-label="Default select example" required>
                                            <option><small>Selecciona una opción</small></option>
                                            <option value="Cajero">Cajero</option>
                                            <option value="Almacenador">Almacenador</option>
                                            <option value="Repartidor">Repartidor</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Salario</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fSalario" type="text" onkeypress="return ( event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46)" maxlength="6" class="form-control" step="00.01" id="salario"
                                            placeholder="$00.00" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Correo electrónico</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="fCorreo" maxlength="30" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]{2,10}\.[a-z]{2,4}$" type="text" class="form-control" id="correo"
                                            placeholder="example@exaple.com" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Contraseña</label>
                                    </div>
                                    <div class="col col-7" datosRequeridos>
                                        <input formControlName="fContra" maxlength="8" minlength="5" type="password" class="form-control" id="password" placeholder="*****"
                                            required>
                                    </div>
                                </div>

                                <div class="row mt-2 mb-2">
                                    <div class="col col-2">
                                        <label for="staticEmail2" class="mt-2">Estatus</label>
                                    </div>
                                    <div class="col">
                                        <div class="form-check mt-2">
                                            <input formControlName="fStatus" class="form-check-input" type="radio" name="fStatus"
                                                id="Activo" value="Activo">
                                            <label class="form-check-label" for="Activo">
                                                <span>Activo</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-check mt-2">
                                            <input formControlName="fStatus" class="form-check-input" type="radio" name="fStatus"
                                                id="Inactivo" value="Inactivo">
                                            <label class="form-check-label" for="Inactivo">
                                                <span>Inactivo</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Botones -->
                                <div class="row m-3">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-success rounded rounded-pill" (click)="enviar()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                <path
                                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                            </svg>
                                            Aceptar
                                        </button>
                                    </div>
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-danger rounded rounded-pill" (click)="cancelar()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path
                                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                            Cancelar
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>