<app-nav-bar></app-nav-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col col-12 col-sm-12 col-md-6 ">
            <div class="card w-100 bg-secondary bg-opacity-25 border rounded">
                <div class="container">
                    <!-- Titulo and icon -->
                    <div class="row m-2 ms-0">
                        <div class="col col-9">
                            <h4>Modificar Proveedor</h4>
                        </div>
                        <div class="col col-3 text-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                    class="bi bi-truck m-2 pt-1 text-primary" viewBox="0 0 16 16">
                                    <path
                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                </svg>
                        </div>
                    </div>

                    <!-- Formulario -->
                    <div class="row mt-4">
                        <div class="col">
                            <form class="row">

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">ID de Proveedor</label>
                                    </div>
                                    <div class="col col-7">
                                        <input type="text" class="form-control" id="nombre" placeholder="ID">
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Nombre de Proveedor</label>
                                    </div>
                                    <div class="col col-7">
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Numero de contacto</label>
                                    </div>
                                    <div class="col col-7">
                                        <input type="number" class="form-control" id="nombre" placeholder="2418000101">
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Dirección de la empresa </label>
                                    </div>
                                    <div class="col col-7">
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="row mt-2 mb-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Provee</label>
                                    </div>
                                    <div class="col col-7">
                                        <input type="text" class="form-control" id="staticEmail2"
                                            placeholder="Frutas">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="row m-3">
                        <div class="col text-center">
                            <button class="btn btn-success rounded rounded-pill">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                                Aceptar
                            </button>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-danger rounded rounded-pill">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-x" viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>