<div class="containter-fluid bg-primary">
    <div class="row" style="height: 10vh;">
        <div class="col">
            <h2 class="h2 text-white text-center p-2 ">Bienvenido a López Vásquez </h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <div class="container">
                <div class="row vh-100 justify-content-center align-items-center">
                    <div class="col col-12 col-sm-12 col-md-9 col-lg-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body text-center roundes-bottom">
                                <div class="container w-75 mt-3">
                                    <form class="" [formGroup]="formPassword" errorTailor novalidate>                                        
                                        <div class="mb-3">
                                            <input formControlName="fpas1" class="form-control" type="text" name="password" id="password"
                                                placeholder="Nueva contraseña">
                                        </div>
                                        <div class="mb-3">
                                            <input formControlName="fpas2" maxlength="8" class="form-control" type="password" name="password" id="password"
                                                placeholder="Repita la contraseña">
                                        </div>
                                        <button class="btn btn-success rounded-pill" (click)="validate()">Recuperar contraseña</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>