<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center mt-5 pt-5 jumbo">
    <p class="h2 text-white mt-5">Historial de Compras</p>
</div>

<div class="container mb-5 pb-5 position-relative info">
    <div class="row justify-content-center align-items-sart">
        <div class="col ">
            <input type="date" class="form form-control rounded-pill mt-5">
            <div class="container bg-success mt-3 rounded">
                <div class="row">
                    <div class="col">
                        <p class="h4 text-white m-1">Pedidos Recibidos</p>
                        <div class="container">
                            <div class="row">
                                <div class="col text-white border border-light mb-2">
                                    <p>Fecha: {{fecha}}</p>
                                    <p>Código: {{codigo}}</p>
                                    <p class="mt-2">Productos:
                                        <span>{{productos}}</span>
                                    </p>
                                    <p>Precio de compra:
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <input type="date" class="form form-control rounded-pill mt-5">
            <div class="container bg-primary mt-3 rounded">
                <div class="row">
                    <div class="col">
                        <p class="h4 text-white m-1">En proceso de entrega</p>
                        <div class="container">
                            <div class="row">
                                <div class="col col-12 text-white border border-light mb-2 position-relative">
                                    <span class="modify badge bg-light">
                                        <a type="button" (click)="solicitudCancelacion()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20"
                                                fill="currentColor" class="bi bi-pencil-square text-dark" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                        </a>
                                    </span>
                                    <p>Fecha: {{fecha}}</p>
                                    <p>Código: {{codigo}}</p>
                                    <p class="mt-2">Productos:
                                        <span>{{productos}}</span>
                                    </p>
                                    <p>Precio de compra:
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <input type="date" class="form form-control rounded-pill mt-5">
            <div class="container bg-danger mt-3 rounded mb-3">
                <div class="row">
                    <div class="col">
                        <p class="h4 text-white m-1">Pedidos cancelados</p>
                        <div class="container">
                            <div class="row">
                                <div class="col text-white border border-light mb-2">
                                    <p>Fecha: {{fecha}}</p>
                                    <p>Código: {{codigo}}</p>
                                    <p class="mt-2">Productos:
                                        <span>{{productos}}</span>
                                    </p>
                                    <p>Precio de compra:
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>