<app-nav-bar></app-nav-bar>
<!-- 
    Este apartado es para la pantalla de carrito de compras. 
 -->

<section class="container-fluid" style="padding-top: 15vh; padding-bottom: 8vh;">
    <div class="row">
        <div class="col">
            <div class="container p-1">
                <span>
                    <h3 class="mt-4">Productos</h3>
                </span>
                <div class="row border border-dark">
                    <!-- Productos en carrito dentro del iframe-->
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 border border-dark">
                        <div class="container-fluid my-2 p-0 border border-primary rounded">
                            <div class="row">
                                <iframe src="http://localhost:4200/productInCarr" height="300vh">
                                </iframe>
                            </div>
                        </div>
                    </div>

                    <!-- Métodos de pago y entrega -->
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 border border-dark">
                        <div class="row mb-3">
                            <div class="col col-12 mt-3">
                                <h5>Seleccionar método de pago</h5>
                                <div class="form-check mt-2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <input class="form-check-input" type="radio"
                                            name="fTipePago" id="Efectivo" value="Efectivo">
                                        <span>Efectivo</span>
                                    </label>
                                </div>
                                <div class="form-check mt-2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <input class="form-check-input" type="radio"
                                            name="fTipePago" id="Tarjeta" value="Tarjeta">
                                        <span>Tarjeta</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col col-12 mt-3">
                                <h5>Método de entrega</h5>
                                <div class="form-check mt-2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <input class="form-check-input" type="radio"
                                            name="fTipeSend" id="Domicilio" value="Domicilio">
                                        <span>Domicilio</span>
                                    </label>
                                </div>
                                <div class="form-check mt-2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <input class="form-check-input" type="radio"
                                            name="fTipeSend" id="Tienda" value="Tienda">
                                        <span>Tienda</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col col-12 mt-3">
                                <h5>Facturar compra</h5>
                                <div class="form-check mt-2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <input class="form-check-input" type="radio"
                                            name="fBuyFact" id="Si" value="Si">
                                        <span>Si</span>
                                    </label>
                                </div>
                                <div class="form-check mt-2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <input class="form-check-input" type="radio"
                                            name="fBuyFact" id="No" value="No">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center my-3">
                        <button class="btn btn-success rounded rounded-pill" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Continuar con la compra
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>

<!-- Menu desplegable -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Método de pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input data-bs-toggle="collapse" data-bs-target="#tarjeta" type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                                >Tarjeta
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                            <input data-bs-toggle="collapse" data-bs-target="#money" type="radio" class="form-check-input" id="radio2" name="optradio"
                                value="option2">
                                Efectivo
                            <label class="form-check-label" for="radio2"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form class="m-3 border border-primary bg-light rounded p-3 collapse" id="tarjeta">
                                        <label>Nombre de propietario</label>
                                        <input type="email" class="form-control" placeholder="Nombre" name="nombre">
                                        <label>Numero de tarjeta</label>
                                        <input type="number" class="form-control" placeholder="Numero" name="nombre">
                                        <label>Fecha de vencimiento</label>
                                        <input type="date" class="form-control w-50" placeholder="Nombre" name="nombre">
                                        <label>CVV</label>
                                        <input type="number" class="form-control w-50" placeholder="CVV" name="nombre">
                                    </form>                                   

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <form class="m-3 border border-primary bg-light rounded p-3 collapse" id="money">
                                        <p>1.- Recibirás un código de barras en tu email </p>
                                        <p>2.- Debes presentar el código antes de 48 hrs </p>
                                    </form>                                   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success rounded rounded-pill">Continuar</button>
            </div>
        </div>
    </div>
</div>