<div class="card mt-3" style="width:100%">
    <img class="card-img-top img img-fluid mt-2" src="../../assets/img/jabon.webp" alt="Producto Jabon">
    <div class="card-body text-center">
      <h4 class="card-title">Detergente Roma Multiusos 1kg En Polvo Rendidor Económico</h4>
      <p class="card-text text-start">Jabón en polvo Roma de un kilogramo</p>
      <p class="card-text text-start">
          <span class="text-secondary tachado small">$60.50</span>
          <br>
          <span class="h4">$49.50</span>
          <br>
          <span class="text-success">Ahorras $11</span>
        </p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-primary"><span class="small">See Profile</span></a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-outline-primary"><span class="small">See Profile</span></a>
                </div>
            </div>
        </div>
    </div>
  </div>