<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col">
            <div class="container w-100 rounded border border-primary bg-light">
                <div class="row mt-2 mb-2 ">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                        <h4 class="mt-2 mb-4">Solicitud de cancelación de pedido</h4>
                        <!--Fila titulo, y form-->
                        <div class="row">
                            <form>
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="row">
                                            <div class="col col-12 col-sm-12 col-md-3 col-lg-4">
                                                <label for="">Código de compra: </label>
                                            </div>
                                            <div class="col col-12 col-sm-12 col-md-9 col-lg-8">
                                                <input type="text " class="form-control" placeholder="Código de compra"
                                                    name="compraCod">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="comment" class="text-bold">Motivo de cancelación:</label>
                                <textarea class="form-control border border-primary" rows="5" id="comment"
                                    name="text"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                        <!-- Borde -->
                        <div class="container-fluid border border-primary rounded mt-3">
                            <div class="row">
                                <!-- Contenedor de cartitas azules -->
                                <div class="container my-3">
                                    <div class="row">
                                        <!-- La carta como tal -->
                                        <div class="col col-12 text-white border border-light bg-primary rounded">
                                            <p>Fecha: {{fecha}}</p>
                                            <p>Código: {{codigo}}</p>
                                            <p class="mt-2">Productos:
                                                <span>{{productos}}</span>
                                            </p>
                                            <p>Precio de compra:
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col text-end">
                                <button class="btn btn-success rounded-pill">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-check2" viewBox="0 0 16 16">
                                        <path
                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                    Enviar
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger rounded-pill">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                        class="bi bi-x-lg mt-0 pt-0" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                        <path fill-rule="evenodd"
                                            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                    </svg>
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>