<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center jumbo">
    <h3 class="h1 position-relative text-white" style="margin-top: 23vh; margin-bottom: 20vh;">
        Pedidos
    </h3>
</div>

<div class="container position-relative mt-5">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col mt-5">
            <div class="container bg-secondary bg-opacity-75 rounded"  style="margin-top: 25vh;">
                <div class="row">
                    <div class="col">

                        <div class="row mt-2">
                            <div class="col col-12 col-sm-12 col-md-2 col-lg-3 mt-2">
                                <a (click)="tipeSend('Tienda')" type="button" class="btn btn-primary rounded rounded-pill w-100">
                                    Recoger en tienda
                                </a>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-2 col-lg-2 mt-2">
                                <a (click)="tipeSend('Domicilio')" type="button" class="btn btn-light rounded rounded-pill w-100">
                                    Domicilio
                                </a>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-2 col-lg-3 mt-2">
                                <a (click)="tipeSend('all')" type="button" class="btn btn-success rounded rounded-pill w-100">
                                    Todos los pedidos
                                </a>
                            </div>

                            <!-- Icono  -->
                            <div class="col col-12 col-sm-12 col-md-2 col-lg-3 mt-2 text-center">
                                <p class="ps-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                        class="bi bi-card-list text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path
                                            d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                    </svg>
                                </p>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 mt-2">
                                <form class="row was-validated needs-validation" [formGroup]="formPedido" errorTailor novalidate>
                                    <div class="input-group mb-3">
                                        <input formControlName="codigo" type="text" class="form-control" placeholder="CODIGO" style="width: 30%;" required>
                                        <button class="btn btn-primary" type="button" (click)="searchCode()">Buscar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Código de compra</th>
                                                <th scope="col">Método de entrega</th>
                                                <th scope="col">Dirección</th>
                                                <th scope="col">Estatus</th>
                                                <th scope="col">Fecha de entrega</th>
                                                <th scope="col">Solicitudes</th>
                                            </tr>
                                        </thead>

                                        <tbody >
                                            <div *ngIf="pedidos.data == null; else conPedido">
                                                <h3>No hay pedidos</h3>
                                            </div>

                                            <ng-template #conPedido>
                                                <tr [ngClass]="{'table-light': pedido.estatus == 'Nuevo', 'table-info': pedido.estatus == 'En proceso', 'table-success': pedido.estatus == 'Realizado', 'table-danger': pedido.estatus == 'Cancelado'}" *ngFor="let pedido of pedidos.data | paginate: { itemsPerPage: 5, currentPage: page}; let i = index">
                                                    <th scope="row">{{pedido.idCompra.codigo_compra}}</th>
                                                    <td>{{pedido.idCompra.tipo_envio}}</td>
                                                    <td>{{retornarDireccion(pedido.idCompra.direccion)}}</td>
                                                    <td>

                                                        <select class="form-select" aria-label="Default select example" *ngIf="pedido.solicitudCancelacion == null; else cancel "  [ngModel]="pedido.estatus" (ngModelChange)="retornarStatus(pedido.id, $event)">
                                                            <option value="Nuevo">Nuevo</option>
                                                            <option value="En proceso">En proceso</option>
                                                            <option value="Realizado">Realizado</option>
                                                            <option value="Cancelado">Cancelado</option>
                                                        </select>

                                                        <ng-template #cancel>
                                                            <div *ngIf="pedido.estatus === 'Cancelado'; else nocancel">
                                                                <select class="form-select" aria-label="Default select example" disabled="true" [ngModel]="pedido.estatus" (ngModelChange)="retornarStatus(pedido.id, $event)">
                                                                    <option value="Nuevo">Nuevo</option>
                                                                    <option value="En proceso">En proceso</option>
                                                                    <option value="Realizado">Realizado</option>
                                                                    <option value="Cancelado">Cancelado</option>
                                                                </select>                                                                
                                                            </div>
                                                            <ng-template #nocancel>
                                                                <select class="form-select" aria-label="Default select example" [ngModel]="pedido.estatus" (ngModelChange)="retornarStatus(pedido.id, $event)">
                                                                    <option value="Nuevo">Nuevo</option>
                                                                    <option value="En proceso">En proceso</option>
                                                                    <option value="Realizado">Realizado</option>
                                                                    <option value="Cancelado">Cancelado</option>
                                                                </select>                                                                
                                                            </ng-template>
                                                        </ng-template>
                                                    </td>
                                                    <td>{{pedido.fecha_entrega}}</td>
                                                    <td>
                                                        <div *ngIf="pedido.solicitudCancelacion != null">
                                                            <a type="button" aria-valuemax="btn" (click)="cancelacion(pedido.idCompra.id, token.getAuthorieties())">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                                    fill="currentColor" class="bi bi-arrows-fullscreen"
                                                                    viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd"
                                                                        d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col text-center w-75">
                                            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
                                                nextLabel="Siguiente">
                                            </pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>