
<div class="container-fluid m-0 p-0">
    <img class="img-fluid position-absolute" src="../../../assets/img/fongo-geometrico.png" alt="" style="width: 100vw; height: 40vh;">
</div>

<div class="container position-relative bg-light text-dark rounded">
    <div class="row">
        <div class="col">a</div>     
        <div class="col">
            <div class="card">
                <div class="card-title">Detergente Roma Multiusos 1kg En Polvo</div>
                <div class="card-text">
                    
                </div>
                <div class="card-footer">Footer</div>
              </div>
        </div>   
    </div>
</div>