.card{
    border: 1px solid white;
}

.card-body{
    position: relative;
    border-radius: 3vh;
    -webkit-border-radius: 3vh;
    -moz-border-radius: 3vh;
    -ms-border-radius: 3vh;
    -o-border-radius: 3vh;
}

.card-footer{

    border-radius: 3vh;
    -webkit-border-radius: 3vh;
    -moz-border-radius: 3vh;
    -ms-border-radius: 3vh;
    -o-border-radius: 3vh;
}