<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">López Vázquez</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search" />
        <button class="btn btn-success" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<section class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="container bg-primary">a</div>
    </div>
  </div>
  <hr />
  <div class="row">
    <h1 class="h1 text-center text-primary">Descuentos</h1>
    <div class="col col-sm-3">
      <app-carta-producto></app-carta-producto>
    </div>
    <div class="col col-sm-3">
        <app-carta-producto></app-carta-producto>
    </div>
    <div class="col col-sm-3">
        <app-carta-producto></app-carta-producto>
    </div>
    <div class="col col-sm-3">
        <app-carta-producto></app-carta-producto>
    </div>
  </div>
</section>
