<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center jumbo">
  <h4 class="text h2 text-white text-bold" >Favoritos</h4>
</div>

<div class="container bg-light mt-5 pt-5 info" *ngIf="productos != 0; else sinFav">
  <div class="row justify-content-center align-items-center" style="padding-top: 30vh;">
    <div *ngFor="let producto of productos; index as i" class="col col-12 col-sm-12 col-md-6 col-lg-3 mb-4 carta" >
      <div class="card bg-primary bg-opacity-25 w-100 productCart" id="{{producto.id}}">
        <span class="like position-absolute translate-middle badge rounded-pill">
          <a type="button"
            class="btn btn-outline-danger rounded-circle p-0 m-0 buttonLike lineaBlanca bg-danger text-white"
            (click)="like(producto.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" fill="currentColor" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
          </a>
        </span>
        <a type="submit" [routerLink]="['/extendProduct', producto.id]">

          <div class="card-head">
            <div class="imgProd" *ngIf="producto.imagen != null; else noImagen">
              <img [src]="regresarImg(producto.imagen)" class=" imgProdImg" alt="Card image">
            </div>

            <ng-template class="card-img-top img-fluid w-50 mx-auto d-block m-2" #noImagen>
              <div class="imgProd">
                <img src="../../assets/img/notFound2.png" class=" imgProdImg" alt="Card image">
              </div>
            </ng-template>
          </div>

          <div class="card-body">
            <h4 class="card-title tituloProducto h5 text-dark">{{producto.nombre}}</h4>
            <p class="card-text text-start text-dark">{{producto.descripcion.substring(0, 50)}}</p>
            <p class="card-text">
              <span *ngIf="producto.precio_descuento != 0"
                class="text-secondary small"><del>${{producto.precio_descuento+producto.precio_venta}}</del></span>
              <br>
              <span class="h4 text-dark">${{producto.precio_venta}}</span>
              <br>
              <span class="text-success">Ahorras ${{producto.precio_descuento}}</span>
            </p>
          </div>
        </a>
        <div class="row mb-3">
          <div class="col">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col">
                  <a type="button" class="btn btn-primary rounded-pill" (click)="addCarrito(producto.id)">
                    <span class="small boton-info">
                      Agregar a carrito
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #sinFav>
  <section class="container-fluid display-block text-center" style="height: 100vh; padding-top:60vh;">
    <div>
      <h3>No cuenta con productos en este apartado</h3>
    </div>  
  </section>
</ng-template>


<app-footer></app-footer>