<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center jumbo">
</div>

<div class="container position-relative">
    <div class="row vh-100 justify-content-center align-items-start">
        <div class="col col-12 col-sm-12 col-md-6" style="margin-top: 25vh;">
            <h1 class="text-center mt-1 text-white mb-5">Alertas</h1>
            <div class="container bg-secondary bg-opacity-75 border border-secondary rounded" >
                <div class="row">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre de producto</th>
                                    <th scope="col">Cantidad en inventario</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos | objectToArray | paginate: { itemsPerPage: 5, currentPage: page}; let i = index">
                                    <th>{{producto.nombre}}</th>
                                    <td>{{producto.cantidad}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col col-8">Contactar a proveedor</div>
                                            <div class="col col-4">
                                                <a type="button" [ngClass]="{'lineaBlanca': producto.contactado==1}" class="btn btn-outline-success rounded rounded-circle" (click)="contactado(producto.id)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="25"
                                                        fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                                        <path
                                                            d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                                        <path
                                                            d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>