<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center jumbo">
</div>

<div class="container position-relative">
    <div class="row vh-100 justify-content-center align-items-center">
        <!-- Izquierda -->
        <div class="col col-12 col-sm-12 col-md-6" style="margin-top: 20vh;">
            <div class="card w-100 bg-secondary bg-opacity-75 border rounded">
                <div class="container mb-3">
                    <!-- Titulo and icon -->
                    <div class="row m-2 ms-0">
                        <div class="col col-9">
                            <h4>Solicitud de Cancelacion </h4>
                        </div>
                        <div class="col col-3 text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-card-list  m-2 pt-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path
                                    d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                            </svg>
                        </div>
                    </div>

                    <!-- Formulario -->
                    <div class="row mt-4">
                        <div class="col">
                            <form class="row">

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Código de compra</label>
                                    </div>
                                    <div class="col col-7">
                                        <input type="text" class="form-control" id="nombre" placeholder="{{codigoCompra}}"
                                            disabled>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Pago total: ${{pagototal}}</label>
                                    </div>
                                    <div class="col col-12">
                                        <div class="row">
                                            <div class="container mt-4 rounded border border-primary bg-primary">
                                                <div class="row">
                                                    <div class="col">
                                                        <iframe [src]="urlMini" height="220vh" width="100%">
                                                        </iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Motivo de Cancelacion </label>
                                    </div>
                                    <div class="col col-7">
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3" [value]="motivo" readonly></textarea>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Derecha -->
        <div class="col col-12 col-sm-12 col-md-6 mt-3">
            <div class="card w-100 bg-secondary bg-opacity-75 border rounded">
                <div class="container">
                    <!-- Titulo and icon -->
                    <div class="row m-2 ms-0">
                        <div class="col col-9">
                            <h4>Respuesta </h4>
                        </div>
                        <div class="col col-3 text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-card-list  m-2 pt-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path
                                    d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                            </svg>
                        </div>
                    </div>

                    <!-- Formulario -->
                    <div class="row mt-4">
                        <div class="col">
                            <form id="CreateForm" class="row was-validated needs-validation" [formGroup]="formCanceled" errorTailor novalidate>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Motivo</label>
                                    </div>
                                    <div class="col col-7">
                                        <div *ngIf="respuesta == null; else responseOk">
                                            <textarea formControlName="respuesta" class="form-control border border-primary" [value]="respuesta" rows="5" id="comment"
                                            name="text" required></textarea>
                                        </div>
                                        <ng-template #responseOk>
                                            <textarea formControlName="respuesta" class="form-control border border-primary" [value]="respuesta" rows="5" id="comment"
                                            name="text" required readonly></textarea>
                                        </ng-template>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="row m-3">
                        <div class="col text-center">
                            <button (click)="sendresponse('aprobado')" [disabled]="soliSend" form="CreateForm" class="btn btn-success rounded rounded-pill">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                                Aceptar
                            </button>
                        </div>
                        <div class="col text-center">
                            <button (click)="sendresponse('cancelado')" [disabled]="soliSend" class="btn btn-danger rounded rounded-pill">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-x" viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                                Rechazar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>