<app-nav-bar></app-nav-bar>

<div class="container-fluid text-center jumbo">
</div>

<div class="container position-relative">
    <div class="row vh-100 justify-content-center align-items-start">
        <div class="col col-12 col-sm-12 col-md-6 " style="margin-top: 25vh;">
            <div class="card w-100 bg-secondary bg-opacity-75 border rounded">
                <div class="container">

                    <!-- Titulo and icon -->
                    <div class="row m-2 ms-0">
                        <div class="col col-9">
                            <h4>Registrar Empleado </h4>
                        </div>
                        <div class="col col-3 text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-person-badge m-2 pt-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path
                                    d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
                            </svg>
                        </div>
                    </div>

                    <!-- Formulario -->
                    <div class="row mt-4">
                        <div class="col">
                            <form class="row was-validated needs-validation" [formGroup]="formEmpleado" errorTailor novalidate>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Numero de empleado</label>
                                    </div>
                                    <div class="col col-7">
                                        <input type="text"  onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 180 || event.charCode == 32)" class="form-control" id="nombre" placeholder="{{noEmpleado}}"
                                            disabled>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Nombre</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empNombre" maxlength="30" onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 180 || event.charCode == 32)" type="text" class="form-control" id="nombre" placeholder="Alejandro"
                                            required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Apellido Paterno</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empApePat" maxlength="30" onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 180 || event.charCode == 32)" type="text" class="form-control" id="apaterno" placeholder="Martínez "
                                            required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Apellido Materno</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empApeMat" maxlength="30" onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 180 || event.charCode == 32)" type="text" class="form-control" id="amaterno" placeholder="López "
                                            required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Curp</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empCurp" minlength="18" maxlength="18" onkeypress="return ( event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 48 && event.charCode <= 57)" type="text" class="form-control" maxlength="18" minlength="18" id="curp"
                                            placeholder="LOMA15000000HTLSLLA3" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Fecha de nacimiento </label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empFechaN" min="1950-12-31" [max]="parseCurrent" type="date" class="form-control" id="fecha" required>
                                    </div>
                                </div>

                                <div class="row mt-2 mb-2">
                                    <div class="col">
                                        <div class="row mt-2">
                                            <div class="col col-2">
                                                <label for="exampleFormControlInput1" class="form-label">Genero</label>
                                            </div>
                                            <!-- Radio -->
                                            <div class="col col-10">
                                                <div class="row">
                                                    <div class="col-6 ps-5 form-check">
                                                        <label>
                                                            <input formControlName="empGenero" type="radio"
                                                                class="form-check-input" id="M" name="empGenero" value="M">
                                                            Masculino
                                                        </label>
                                                    </div>
                                                    <div class="col-6 ps-5 form-check">
                                                        <label>
                                                            <input formControlName="empGenero" type="radio"
                                                                class="form-check-input" id="F" name="empGenero" value="F">
                                                            Femenino
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Teléfono</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empTelefo" type="text" class="form-control" id="telefono" placeholder="2411302419"
                                            required minlength="10" maxlength="10" onkeypress="return ( event.charCode >= 48 && event.charCode <= 57)">
                                        <!-- <input formControlName="empTelefo" type="number" class="form-control" id="telefono" placeholder="2411302419"
                                            required [minlength]="10" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"> -->
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Puesto</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <select formControlName="empPuesto" class="form-select" aria-label="Default select example">
                                            <option selected><small>Selecciona una opción</small></option>
                                            <option value="1">Cajero</option>
                                            <option value="2">Cargador</option>
                                            <option value="3">Repartidor</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Salario</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empSalari" onkeypress="return ( event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46)" min="0.00" maxlength="6" type="text" step="0.001" class="form-control" id="precioCompra"
                                        placeholder="$00.00" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Correo electrónico</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empCorreo" maxlength="30" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]{2,10}\.[a-z]{2,4}$" class="form-control" id="correo"
                                            placeholder="example@exaple.com" required>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col col-5">
                                        <label for="staticEmail2" class="mt-2">Contraseña</label>
                                    </div>
                                    <div class="col col-7 datosRequeridos">
                                        <input formControlName="empPass" type="password" maxlength="8" minlength="5" class="form-control" id="nombre" placeholder="*****"
                                            required>
                                    </div>
                                </div>

                                <!-- Botones -->
                                <div class="row m-3">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-success rounded rounded-pill"  (click)="enviar()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                <path
                                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                            </svg>
                                            Aceptar
                                        </button>
                                    </div>
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-danger rounded rounded-pill" (click)="cancelar()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path
                                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                            Cancelar
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>