<div class="container-fluid">
    <div class="row border border-dark rounded-3 my-1" style="margin: 0 0.01% 0 0.01%;">
        <!-- Imagen -->
        <div class="col col-4 col-sm-4 col-md-5 bg-dark text-center">
            <img src="../../../../../assets/img/jabon.png" alt="Imagen de producto" class="img-fluid text-start w-75">
        </div>
        <!-- Descripción -->
        <div class="col col-8 col-sm-8 col-md-7">
            <div class="row" style="height: 75%;">
                <div class="col-12">
                    <div class="row" style="height: 50%;">
                        <div class="col col-8">
                            <h6>Nombre de producto</h6>
                        </div>
                        <div class="col col-2 text-center">
                            <span>
                                <button class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-trash3-fill text-dark" viewBox="0 0 16 16">
                                        <path
                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="row" style="height: 50%;">
                        <div class="col" style="height: 100%;">
                            <span>
                                <small class="text-secondary tachado small"><del>precioantes</del></small>
                                <small class="text-success"> $precioreal</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5" style="height: 25%;">
                <div class="col-12">
                    
                    <div class="row">
                        <div class="col col-8">
                            <div class="row">
                                <div class="col">
                                    <input class="btn btn-danger rounded rounded-pill btn-round" type="button" name="reducir" value="-">
                                    <span class="textCant mx-1">1</span>
                                    <input class="btn btn-success rounded rounded-pill btn-round" type="button" name="reducir" value="+">
                                </div>
                            </div>
                        </div>
                        <div class="col col-4">
                            <span class="h5 text-success">
                                total
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>