.tachado{
    text-decoration: line-through;
}

.like{
    position: absolute;
    top: 8%;
    left: 88%;
}

.card{
    border-radius: 4vh;
    -webkit-border-radius: 4vh;
    -moz-border-radius: 4vh;
    -ms-border-radius: 4vh;
    -o-border-radius: 4vh;
}

.tituloProducto{
    height: 10vh;
}

.carta{
    height: 100%;
}

a{
    text-decoration: none; 
    max-height: 100vh;
}

.card-head{
    height: 40vh;
}

.card-body{
    height: 40vh;
}

.imgProd{
    display: flex;
  justify-content: center;
  align-items: center;
}

.card-head .imgProdImg {
    width: 32vh;
}